body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.Titulo h1 {
    font-size: 28px;
    margin-left: 200px;
    padding-left: 370px;
}
.Titulo i {
    font-size: 28px;
    margin-left: 10px;
    vertical-align: middle;
}
.Subtitulo h2 {
    font-size: 22px;
    margin-top: 20px;
    text-align: center;
}
.p1, .p2, .p3 {
    margin-left: 600px;
    margin-right: 300px;
}
h2 {
    font-size: 20px;
    color: #333;
}
p {
    font-size: 16px;
    color: #555;
}
.PW i, .SW i, .AW i {
    font-size: 22px;
    margin-right: 10px;
}
.Titulo {
    margin: 0px;
    background-color: aqua;
    padding: 20px;
}
li{

    padding: 0.3rem;
}
.VD h2 {
    font-size: 22px;
    margin-top: 113px;
    text-align: center;
}
.p11, .p22, .p33 {
    margin-left: 600px;
    margin-right: 300px;
}.PW1 i, .SW1 i, .AW1 i {
    font-size: 22px;
    margin-right: 10px;
}
.Principal{
    background-color: limegreen;
    margin-top: 30px;
        
}